.action {
  $this: &;

  background: white;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);

  &__toggle {
    float: right;
    padding: 0 5px;
  }

  &__title {
    cursor: pointer;
    padding: 3px;
    background: #ddd;
    -webkit-user-select: none;

    #{$this}--mutated & {
      background: lightgreen;
    }

    #{$this}--disabled & {
      background: black;
      color: white;
    }
  }

  &__header {
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
  }

  pre {
    margin: 0;
    padding: 5px;

    &.store {
      .old {
        text-decoration: line-through;
        color: lighten(black, 75%);
      }
    }
  }
}